#main {
    color: black;
}
#main-doc {
    color: black;
}
.main-section {
    color: black;
}
header {
    font-size: xx-large;
    font-weight: bold;
}
#navbar {
    color: black;
}
.navlink {
    background-color: red;
    color: black;
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: block;
    width: 160px;
}
